/* ------------------------------- Global --------------------------- */
body {
	width:960px;
	margin:0 auto;
	font-family:'ABeeZee', sans-serif;
	font-size:100%;
}

#wrapper {
	max-width:100%;
}

section {
	display:block;
	padding:0.52083333333333%; /*5px/960px*/
	margin-bottom:1.041666666666667% /*10px/960px*/;
	overflow:hidden;
}

.clear {
 clear:both;
}

/* ------------------------------- Header and Navigation --------------------------- */
header {
	border-bottom:3px dashed #666;
	overflow:hidden;
}


h1 {
	float:left;
	color:#333;
	text-shadow:2px 2px 3px rgba(0,0,32,0.5);
	font-family:'Montserrat Alternates', sans-serif;
}

nav ul {
	float:right;
	padding:0;
}

nav li {
	list-style-type:none;
	float:left;
}

nav a {
	display:block;
	width:100px;
	height:45px;
	margin-left:20px;
	text-decoration:none;
	line-height:45px;
	text-align:center;
	color:#fff;
	background-color:#333;
}

nav a:hover {
	color:#333;
	background-color:#fff;
	width:96px;
	height:41px;
	border:2px solid #333;
	line-height:41px;
}

/* ------------------------------- Content --------------------------- */
#boardimage {
	float:left;
	width:53.33333333333333%; /*512px/960px*/
}

#boardimage img {
	max-width:100%;
}

#gallery {
	float:right;
	width:25.41666666666667%; /*244px/960px*/
	padding:2.083333333333333% 0% 0% 2.083333333333333%;
	margin-right:9.583333333333333%; /*92px/960px*/
	border:2px dashed #666;
	border-radius:10px;
}

#gallery li {
	float:left;
	margin:0% 8.19672131147541% 8.19672131147541% 0%; /*(0px 20px 20px 0px)/244px*/
	width:40.98360655737705%; /*100px/244px*/
	list-style-type:none;
}

#gallery img {
	width:100%;
}

#rules {
	color:#fff;
	background-color:#333;
	padding:0.8333333333333333%; /*8px/960px*/
	border-radius:15px;
	box-shadow:2px 2px 3px rgba(0,0,32,0.5);
}

#rules div {
	-moz-column-count:3;
	-webkit-column-count:3;
	column-count:3;
}

#rules p {
margin-top:0px;
}


/* ------------------------------- Footer --------------------------- */

footer {
	background-color: rgba(0,0,0,0.8);
	padding:10px;
	border-radius: 15px 15px 0px 0px;
}

footer ul {
	margin:10px auto 10px;
	width:291px; /*291px/960px*/
	overflow:hidden;
	padding:0px;
}

footer li {
	float:left;
	list-style-type:none;
	margin:0 10px;
	width:75px;
}

footer a {
	display:block;
	width:100%;
	height:30px;
	line-height:30px;
	border:1px solid #fff;
	text-align:center;
	text-decoration:none;
	color:#fff;
}

footer a:hover {
	color:#333;
	background-color:#fff
}

/* ------------------------------- Responsive --------------------------- */

@media screen and (min-width:768px) and (max-width:959px){
	body {
		width:98.95833333333333%;
	}
	
	#gallery {
		margin-top:0%;
	}
}

@media screen and (min-width:480px) and (max-width:767px){
	body {
		width:98.95833333333333%;
	}
	
	#rules div {
		-moz-column-count:2;
		-webkit-column-count:2;
		column-count:2;
	}
	
	#gallery {
		float:none;
		overflow:hidden;
		clear:both;
		width:80%;
		padding:0% 0% 0% 4.098360655737705%;
		margin:4.098360655737705% auto;
	}
	
	#gallery li {
		margin:4.098360655737705% 4.098360655737705% 4.098360655737705% 0%;
		width:20.49180327868852%;
	}
	
	#boardimage {
		margin-bottom:4.098360655737705%;
	}
}

@media screen and (min-width:369px) and (max-width:479px){
	body {
		width:98.95833333333333%;
	}
	
	#gallery {
		float:none;
		overflow:hidden;
		clear:both;
		width:80%;
		padding:0% 0% 0% 4.098360655737705%;
		margin:4.098360655737705% auto;
	}
	
	#gallery li {
		margin:4.098360655737705% 4.098360655737705% 4.098360655737705% 0%;
		width:20.49180327868852%
	}
	
	#boardimage {
		float:none;
		margin:10px auto 0px auto;
	}
	
	#rules div {
		-moz-column-count:1;
		-webkit-column-count:1;
		column-count:1;
	}
}

@media screen and (max-width:368px){
	body {
		width:361px;
	}
	
	#gallery {
		float:none;
		overflow:hidden;
		clear:both;
		width:80%;
		padding:0% 0% 0% 4.098360655737705%;
		margin:4.098360655737705% auto;
	}
	
	#gallery li {
		margin:4.098360655737705% 4.098360655737705% 4.098360655737705% 0%;
		width:20.49180327868852%
	}
	
	#boardimage {
		float:none;
		margin:10px auto 0px auto;
	}
	
	#rules div {
		-moz-column-count:1;
		-webkit-column-count:1;
		column-count:1;
	}
}
